.third-slide {
    text-align: center;
    background-color: #fff;
    width: 100%;

    .heading {
        h1 {
            margin-top: 30px;
            font-size: 38px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 900;
            letter-spacing: 1px;
        }

        span {
            font-size: 16px;
            text-transform: uppercase;
            color: #ffbb05;
            font-weight: 300;
            letter-spacing: 0.5px;
        }
    }

    .feature-list ul {
        padding: 0;
        margin: 0;

        li {
            display: block;
        }
    }

    .third-content {
        padding: 30px;

        .left-image img {
            width: 100%;
            overflow: hidden;

            @media (max-width:850px) {}
        }

        .right-feature-text h4 {
            font-size: 19px;
            color: #121212;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 30px;
            margin-bottom: 30px;

            em {
                font-style: normal;
                font-weight: 700;
                color: #ffbb05;
            }
        }

        .feature-list {
            margin-top: 20px;

            p {
                font-weight: 400;
            }
        }

        .right-feature-text {
            text-align: left;
            margin: 0px 15px 0px 15px;

            .primary-button {
                margin-top: 30px;
            }
        }
    }

    @media (max-width:850px) {}
}